<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <link rel="shortcut icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>


<body>
  <header>
    <!-- navigation -->
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://png.pngtree.com/template/20190927/ourlarge/pngtree-restaurant-icon-logo-design-template-packages-image_312033.jpg"
            width="50" height="50" class="d-inline-block " alt="我的餐廳清單" />
          {{#if isAuthenticated}}{{ user.name }} 的餐廳清單{{/if}}
        </a>
        {{#if isAuthenticated}}
          <a href="/users/logout" class="btn btn-outline-secondary btn-sm">Logout</a>
        {{else}}  
          <a href="/users/login" class="btn btn-outline-secondary btn-sm">Login</a>
        {{/if}}
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  {{{body}}}

  {{!-- Include javascript here --}}
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/popper.js"></script>
</body>

</html>