<div class="row mt-5">
  <div class="col-md-10 m-auto">
    <div class="card card-body">
      <h2 class="text-center mt-5">新增餐廳</h2>

      <div class="container mt-5 mb-5">
        <form action="/restaurants" method="POST">

          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label mb-3">餐廳名稱<span class="text-danger">*</span></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="name" placeholder="請輸入餐廳中文名稱..." name="name" required />
            </div>
          </div>

          <div class="form-group row">
            <label for="name_en" class="col-sm-2 col-form-label mb-3">餐廳英文名稱</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="name_en" placeholder="請輸入餐廳英文名稱..." name="name_en" />
            </div>
          </div>

          <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label mb-3">餐廳類別<span class="text-danger">*</span></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="category" list="categoryOptions" name="category"
                placeholder="請選擇餐廳類別..." required />
              <datalist id="categoryOptions">
                <option>台式料理</option>
                <option>美式料理</option>
                <option>中式料理</option>
                <option>日式料理</option>
                <option>韓式料理</option>
                <option>東南亞料理</option>
                <option>中東料理</option>
                <option>歐式料理</option>
                <option>咖啡甜點</option>
              </datalist>
            </div>
          </div>

          <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label mb-3">餐廳照片連結<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="url" class="form-control" id="image" name="image" placeholder="請輸入餐廳照片連結..." required />
            </div>
          </div>

          <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label mb-3">餐廳地址<span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="location" name="location" placeholder="請輸入餐廳地址..." required />
            </div>
          </div>

          <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label mb-3">餐廳電話<span class="text-danger">*</span></label>
            <div class="col-sm-5">
              <input type="tel" class="form-control" id="phone" name="phone" placeholder="請輸入餐廳電話..." required />
            </div>
          </div>

          <div class="form-group row">
            <label for="google_map" class="col-sm-2 col-form-label mb-3">Google Map 連結<span
                class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="url" class="form-control" id="google_map" name="google_map"
                placeholder="請輸入餐廳 Google Map 網址..." required />
            </div>
          </div>

          <div class="form-group row">
            <label for="rating" class="col-sm-2 col-form-label mb-3">餐廳評分<span class="text-danger">*</span></label>
            <div class="col-sm-2">
              <input type="number" class="form-control" id="rating" min="0" max="5" step="0.1" placeholder=""
                name="rating" required />
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label mb-3">餐廳簡介<span class="text-danger">*</span></label>
            <div class="col-sm-10">
              <textarea id="description" name="description" row="5" cols="60" placeholder="請輸入餐廳簡介..."
                required /></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10 mt-5 text-center">
              <button type="submit" class="btn btn-primary m-2">新增餐廳</button>
              <a href="/">
                <button type="button" class="btn btn-outline-secondary m-2">返回首頁</button>
              </a>
              <button type="reset" class="btn btn-outline-danger m-2">重新輸入</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>